
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
yolunu belirttik. Shared klasörde olsa yol belirtmeye gerek yok zaten ilk orada arıyor
@Html.Partial("../Home/_PartialPage_FaydalıLinkler")