<ul>
    <li>
        <p>linkler geldi...</p>
        <p>partialpage</p>
        <p>partialpage</p>
    </li>
    <li>
        <p>partialpage</p>
        <p>partialpage</p>
        <p>partialpage</p>
    </li>
    <li>
        <p>partialpage</p>
        <p>partialpage</p>
        <p>partialpage</p>
    </li>
</ul>
